<div class="container">

  <ajax-msg class="m-2" info="D.info"></ajax-msg>

  <div class="card-deck row">
    <div class="card-wrapper col-12 col-md-6 col-lg-4" ng-repeat="item in D.list">
      <div class="card" ng-click="goTo(item)">
        <!-- TODO: img by type -->
        <!-- <img class="card-img-top" src="/src/assets/appcardimage.svg" alt="App card image"> -->
        <div class="card-body">
          <h5 class="card-title">{{item.type}}</h5>
          <p class="card-text">{{item.name}}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">{{item.owner}} - {{item.getDate()}}</small>
        </div>
      </div>
    </div>
  </div>

</div>