<div class="container spaced">

  <ajax-msg info="D.info"></ajax-msg>

  <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="item in D.list" ng-click="goTo(item)">
    <div class="thumbnail marged">
      <div class="row">
        <div class="col-xs-8">{{item.name}}</div>
        <div class="col-xs-4 text-right">{{item.owner}}</div>
      </div>
      <div class="row">
        <div class="col-xs-4">{{item.type}}</div>
        <div class="col-xs-8 text-right">{{item.getDate()}}</div>
      </div>
    </div>
  </div>

</div>
