<div class="container spaced" id="story_view">

  <back-btn type="story"></back-btn>

  <!-- CONTROL -->
  <div class="vspaced">
    <ajax-msg info="D.info"></ajax-msg>
  </div>

  <div class="row vspaced">
    <div class="col-xs-12">
      <div class="col-sm-4 sm-vspaced">
        <glyph-btn type="warning" glyph="pencil" value="Edition" ng-show="!S.editmode" on-click="toggleEdit()"></glyph-btn>
        <glyph-btn type="info" glyph="eye-open" value="Visualisation" ng-show="S.editmode" on-click="toggleEdit()"></glyph-btn>
        <ajax-btn type="success" info="D.info" glyph="floppy-disk" value="Enregistrer" on-click="saveStory()"></ajax-btn>
      </div>
      <div class="col-sm-8 sm-vspaced">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="D.story.name" placeholder="Nom">
          <span class="input-group-addon">
            <span>Public :</span>
            <input type="checkbox" class="form-control" ng-model="D.story.public">
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- EDIT list -->
  <div class="vspaced" ng-show="S.editmode">

    <glyph-btn type="default" glyph="plus" value="Add screen" on-click="addScreen()"></glyph-btn>

    <ul class="screens row vspaced">
      <li class="screen lightbg" ng-repeat="screen in S.list" style="background-image: url({{screen.showbg ? screen.bg : ''}});">

        <!-- HEADER -->
        <div class="row">
          <div class="col-xs-9">
            <h4 class="sm-hspaced">Ecran #{{screen.id}}</h4>
          </div>
          <div class="col-xs-3 text-right">
            <div class="sm-spaced">
              <glyph-btn type="danger" size="xs" glyph="remove" on-click="deleteScreen(screen)"></glyph-btn>
            </div>
          </div>
        </div>

        <!-- TEXT -->
        <div class="row sm-vspaced">
          <div class="col-xs-12">
            <label for="text{{screen.id}}" class="sm-hspaced">Text:</label>
          </div>
          <div class="col-xs-12">
            <textarea ng-model="screen.text" id="text{{screen.id}}" resize="false"></textarea>
          </div>
        </div>

        <!-- CHOICES -->
        <div class="row sm-vspaced">
          <div class="col-xs-12">
            <label class="sm-hspaced">Choix:</label>
            <ul class="choices">
              <li ng-repeat="choice in screen.choices" class="choice xs-vspaced">
                <div class="input-group">
                  <input type="text" ng-model="choice.text">
                  <select ng-model="choice.toId">
                    <option ng-repeat="c in S.list" ng-value="c.id" ng-show="c.id !== screen.id">{{c.id}}</option>
                  </select>
                  <glyph-btn type="default" size="xs" glyph="remove" on-click="removeChoice(screen, choice)"></glyph-btn>
                </div>
              </li>
            </ul>
            <glyph-btn type="success" size="xs" glyph="plus" value="Add choice" on-click="addChoice(screen)"></glyph-btn>
          </div>
        </div>

        <!-- BACKGROUND -->
        <div class="row background sm-vspaced">
          <div class="col-xs-12">
            <label for="bg{{screen.id}}" class="sm-hspaced">Lien du fond:</label>
          </div>
          <div class="col-xs-12">
            <div class="input-group">
              <input type="text" ng-model="screen.bg" id="bg{{screen.id}}" resize="false">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default btn-xs" ng-click="screen.showbg = !screen.showbg">
                  {{screen.showbg ? 'show' : 'hide'}}</button>
              </div>
            </div>
          </div>
        </div>

      </li>
    </ul>

  </div>


  <!-- VIEW  -->
  <div class="vspaced" ng-show="!S.editmode">

    <glyph-btn type="default" glyph="repeat" value="Reset" on-click="reset()"></glyph-btn>

    <h3>> {{D.story.name}}</h3>

    <div class="vspaced"></div>

    <div class="view" style="background-image: url({{S.selected.bg}});">
      <div class="text" ng-show="S.selected">
        <div class="phrase">{{S.selected.text}}</div>
        <ul class="choices">
          <li class="choice" ng-repeat="choice in S.selected.choices" ng-click="goTo(choice)">{{choice.text}}</li>
        </ul>
      </div>
    </div>

  </div>

</div>
