<div class="container spaced" id="story_view">

  <!-- CONTROL -->
  <div class="row bvspaced">
    <div class="col-xs-12">
      <glyph-btn type="warning" glyph="pencil" value="Edit" ng-show="!S.editmode" on-click="toggleEdit()"></glyph-btn>
      <glyph-btn type="info" glyph="eye-open" value="View" ng-show="S.editmode" on-click="toggleEdit()"></glyph-btn>
      <ajax-btn type="success" info="D.info" glyph="floppy-disk" value="Save story" on-click="saveStory()"></ajax-btn>
    </div>
  </div>

  <!-- EDIT list -->
  <div class="vspaced" ng-show="S.editmode">

    <glyph-btn type="default" glyph="plus" value="Add screen" on-click="addScreen()"></glyph-btn>

    <ul class="screens row vspaced">
      <li class="screen lightbg" ng-repeat="screen in S.list" style="background-image: url({{screen.showbg ? screen.bg : ''}});">

        <!-- HEADER -->
        <div class="row">
          <div class="col-xs-9">
            <h4 class="sm-hspaced">Screen #{{screen.id}}</h4>
          </div>
          <div class="col-xs-3 text-right">
            <div class="sm-spaced">
              <glyph-btn type="danger" size="xs" glyph="remove" on-click="deleteScreen(screen)"></glyph-btn>
            </div>
          </div>
        </div>

        <!-- TEXT -->
        <div class="row sm-vspaced">
          <div class="col-xs-12">
            <label for="text{{screen.id}}" class="sm-hspaced">Text:</label>
          </div>
          <div class="col-xs-12">
            <textarea ng-model="screen.text" id="text{{screen.id}}" resize="false"></textarea>
          </div>
        </div>

        <!-- CHOICES -->
        <div class="row sm-vspaced">
          <div class="col-xs-12">
            <label class="sm-hspaced">Choices:</label>
            <ul class="choices">
              <li ng-repeat="choice in screen.choices" class="choice xs-vspaced">
                <div class="input-group">
                  <input type="text" ng-model="choice.text">
                  <select ng-model="choice.toId">
                    <option ng-repeat="screen in S.list" ng-value="screen.id">{{screen.id}}</option>
                  </select>
                  <glyph-btn type="default" size="xs" glyph="remove" on-click="removeChoice(screen, choice)"></glyph-btn>
                </div>
              </li>
            </ul>
            <glyph-btn type="success" size="xs" glyph="plus" value="Add choice" on-click="addChoice(screen)"></glyph-btn>
          </div>
        </div>

        <!-- BACKGROUND -->
        <div class="row background sm-vspaced">
          <div class="col-xs-12">
            <label for="bg{{screen.id}}" class="sm-hspaced">Background url:</label>
          </div>
          <div class="col-xs-12">
            <div class="input-group">
              <input type="text" ng-model="screen.bg" id="bg{{screen.id}}" resize="false">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default btn-xs" ng-click="screen.showbg = !screen.showbg">
                  {{screen.showbg ? 'show' : 'hide'}}</button>
              </div>
            </div>
          </div>
        </div>

      </li>
    </ul>

  </div>


  <!-- VIEW  -->
  <div class="vspaced" ng-show="!S.editmode">

    <glyph-btn type="default" glyph="repeat" value="Reset" on-click="reset()"></glyph-btn>

    <div class="vspaced"></div>

    <div class="view" style="background-image: url({{S.selected.bg}});">
      <div class="text" ng-show="S.selected">
        <div class="phrase">{{S.selected.text}}</div>
        <ul class="choices">
          <li class="choice" ng-repeat="choice in S.selected.choices" ng-click="goTo(choice)">{{choice.text}}</li>
        </ul>
      </div>
    </div>

  </div>

</div>
