<!DOCTYPE html>
<html lang="fr" ng-app="App">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<title>Letakol/FiBoot</title>
	<!-- <link rel="icon" type="image/png" href="ressources/images/icon.png" /> -->
	<link rel="stylesheet" href="_/default.css">
	<link rel="stylesheet" href="_/bootstrap/bootstrap.min.css">
	<link rel="stylesheet" href="_/vis/vis.min.css">
	<!-- VIEW CSSs -->
	<link rel="stylesheet" href="views/story/story.style.css">
</head>

<body ng-controller="mainCtrl">

	<!-- !LOADED -->
	<div ng-show="!Loaded">
		<h4 class="spaced centered darkgrey">Loading Letakol.FiBoot ..</h4>
	</div>

	<!-- LOADED -->
	<div class="unvisible" ng-class="{'visible': Loaded}">

		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="true" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#/">Letakol.FiBoot</a>
				</div>
				<div id="navbar" class="navbar-collapse collapse" aria-expanded="true">
					<div class="nav navbar-nav navbar-right lg-hspaced">
						<div class="vspaced" ng-show="!User.connected">
							<form class="form-inline" on-submit="connect()">
								<div class="inline-block xs-vspaced">
									<input type="text" class="form-control" ng-model="Login.username" placeholder="username">
								</div>
								<div class="inline-block xs-vspaced">
									<input type="password" class="form-control" ng-model="Login.password" placeholder="password">
								</div>
								<div class="inline-block xs-vspaced">
									<ajax-btn info="Login.info" type="info" glyph="log-in" value="Login" on-click="connect()"></ajax-btn>
								</div>
							</form>
						</div>
						<div class="vspaced" ng-show="User.connected">
							<glyph-btn type="default" glyph="cog" value="{{User.name}}"></glyph-btn>
							<ajax-btn info="Login.info" type="danger" glyph="log-out" value="Logout" on-click="disconnect()"></ajax-btn>
						</div>
					</div>
				</div>
			</div>
		</nav>

		<!-- NG-VIEW -->
		<div class="page" ng-view></div>

	</div>

	<!-- BASE LIBS -->
	<script type="text/javascript" src="_/angular/angular.min.js"></script>
	<script type="text/javascript" src="_/angular/angular-route.min.js"></script>
	<script type="text/javascript" src="_/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="_/bootstrap/bootstrap.min.js"></script>
	<script type="text/javascript" src="_/vis/vis.min.js"></script>
	<script type="text/javascript" src="_/default.js"></script>
	<!-- CLASSES -->
	<script type="text/javascript" src="classes/ajaxInfo.class.js"></script>
	<script type="text/javascript" src="classes/dataRow.class.js"></script>
	<!-- MAIN CONTROLLERS -->
	<script type="text/javascript" src="controllers/route.js"></script>
	<script type="text/javascript" src="controllers/main.controller.js"></script>
	<!-- SERVICES -->
	<script type="text/javascript" src="services/ajax.service.js"></script>
	<!-- COMPONENTS -->
	<script type="text/javascript" src="components/ajaxBtn/ajaxBtn.component.js"></script>
	<script type="text/javascript" src="components/ajaxMsg/ajaxMsg.component.js"></script>
	<script type="text/javascript" src="components/backBtn/backBtn.component.js"></script>
	<script type="text/javascript" src="components/glyphBtn/glyphBtn.component.js"></script>
	<script type="text/javascript" src="components/pagination/pagination.component.js"></script>
	<!-- VIEWS -->
	<script type="text/javascript" src="views/admin/admin.controller.js"></script>
	<script type="text/javascript" src="views/default/default.controller.js"></script>
	<script type="text/javascript" src="views/list/list.controller.js"></script>
	<script type="text/javascript" src="views/image/image.controller.js"></script>
	<script type="text/javascript" src="views/story/story.controller.js"></script>
	<script type="text/javascript" src="views/timeline/timeline.controller.js"></script>

</body>

</html>
