html, body {
  margin: 0;
  padding: 0;
}

.page {
  width: 100%;
  min-width: 350px;
  margin-top: 55px;
}

.margin-center {
  margin: 0 auto;
}
.inline-block {
  display: inline-block;
}
.highlighted:hover {
  background-color: #eee;
  cursor: pointer;
}
.unvisible {
  visibility: hidden;
}
.unvisible.visible	{
  visibility: visible;
}
.openable {
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
}
.openable.opened {
  height: auto;
  min-height: 0;
}

/* FONT-COLOR */
.dark	        { color: #111; }
.darkgrey	    { color: #333; }
.grey	        { color: #666; }
.lightgrey	  { color: #AAA; }
.light	      { color: #EEE; }
/* BG-COLOR */
.darkbg	      { background-color: #111; }
.darkgreybg	  { background-color: #333; }
.greybg	      { background-color: #666; }
.lightgreybg	{ background-color: #AAA; }
.lightbg	    { background-color: #EEE; }


/* BOOTSTRAP OVERRIDE */

/* CHECKBOX */
input[type=checkbox].form-control {
  float: none;
  width: 16px;
  height: 16px;
}
/* NAV BRAND */
.navbar .navbar-brand { line-height: 25px;}
/* ALERT */
.alert                { margin: 0 !important; }
/* CARD */
.card-wrapper         { margin-bottom: 15px; }
.card                 { cursor: pointer; }
.card:hover           { box-shadow: 0 0 15px -5px #333; }