html, body {
  margin: 0;
  padding: 0;
}

.page {
  width: 100%;
  min-width: 350px;
  margin-top: 50px;
}

.centered	    { text-align: center; }
.unvisible	  { visibility: hidden; }
.unvisible.visible	{
  visibility: visible;
}
.openable {
  height: 0;
  overflow: hidden;
  transition: height 0.5s;
}
.openable.opened {
  height: auto;
  min-height: 0;
}

/* SPACE */
.spaced	      { padding: 8px; }
.bigspaced	  { padding: 20px; }
.smallspaced	{ padding: 5px; }
.minispaced	  { padding: 2px; }
.hspaced	    { padding: 0 8px; }
.bighspaced	  { padding: 0 20px; }
.smallhspaced	{ padding: 0 5px; }
.minihspaced	{ padding: 0 2px; }
.vspaced	    { padding: 8px 0; }
.bigvspaced	  { padding: 20px 0; }
.smallvspaced	{ padding: 5px 0; }
.minivspaced	{ padding: 2px 0; }
/* F-COLOR */
.dark	        { color: #111; }
.darkgrey	    { color: #333; }
.grey	        { color: #666; }
.lightgrey	  { color: #AAA; }
.light	      { color: #EEE; }
/* BG-COLOR */
.darkbg	      { background-color: #111; }
.darkgreybg	  { background-color: #333; }
.greybg	      { background-color: #666; }
.lightgreybg	{ background-color: #AAA; }
.lightbg	    { background-color: #EEE; }

