<div class="container spaced">

  <glyph-btn type="success" glyph="plus" value="Créer {{D.type}}" ng-click="create()"></glyph-btn>

  <div class="vspaced"></div>

  <ajax-msg info="D.info"></ajax-msg>

  <table class="table unvisible" ng-class="{'visible': D.loaded}">
    <tr>
      <th>Nom</th>
      <th>Auteur</th>
      <th class="text-right">Dernière Maj</th>
      <th class="text-right">Actions</th>
    </tr>
    <tr class="highlighted" ng-repeat="item in D.list" ng-click="goTo(item)">
      <td>{{item.name}}</td>
      <td>{{item.owner}}</td>
      <td class="text-right">{{item.getDate()}}</td>
      <td class="text-right">
        <glyph-btn type="warning" glyph="pencil" size="sm" value="Editer" ng-click="goTo(item, true)" ng-if="isOwner(item)"></glyph-btn>
        <glyph-btn type="danger" glyph="remove" size="sm" value="Supprimer" ng-if="isOwner(item)"></glyph-btn>
      </td>
    </tr>
  </table>

</div>
