<div class="container spaced">

  <a href="#/{{D.type}}/new">
    <button type="button" class="btn btn-success">New</button>
  </a>

  <div class="vspaced"></div>

  <ajax-msg info="D.info"></ajax-msg>

  <table class="table unvisible" ng-class="{'visible': D.loaded}">
    <tr>
      <th>Nom</th>
      <th>Auteur</th>
      <th>Dernière Maj</th>
      <th>Actions</th>
    </tr>
    <tr ng-repeat="item in D.list">
      <td>{{item.name}}</td>
      <td>{{item.username}}</td>
      <td>{{item.getDate()}}</td>
      <td>
        <glyph-btn type="info" glyph="search" value="Voir"></glyph-btn>
        <glyph-btn type="danger" glyph="pencil" value="Editer" ng-show="canEdit(item)"></glyph-btn>
      </td>
    </tr>
  </table>

</div>
